body{
    text-align: center;
    color: white;
    background-color: rgb(252, 178, 94);
}

.titulo {
    appearance: monospace;
    color: rgb(255, 255, 255);
}

.subtitulo {
    outline: monospace;
}
